.chooseFileDiv {
  border: 1px solid;
  display: inline-block;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

#upload-file-div {
  border: 2px solid;
  padding: 30px;
  width: 500px;
}

.crossImage{
  height: 23px;
  display: inline-block;
  position: relative;
  top: 5px;
} 

img, a {
  display: inline-block;
}