#main-container {
  width: 620px;
  height: 250px;
  border-color: #808080;
  box-shadow: 1px 1px 1px 2px #808080;
}

.countrylist{
  display: inline-block;
  list-style-type: none;
  border: 1px solid;
  width: 250px;
  height: 200px;
  margin-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

li {
  margin-left: 0px;
  list-style-type: none;
}

li:hover {
  background-color: yellow;
}

.onlyDrag {
  background-color: red;
}